figwheel_server.log
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.lein-repl-history
profiles.clj
/.nrepl-port
/resources/public/js/*
/resources/public/js/main.js
/resources/public/js/out/*
/resources/public/static/js/*
/.repl
/out
main.js
/data
app.jar
dockerfiles/nginx/static
